/* Basic styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #ace1af;
  color: #113319;
}

header {
  background: #ffffff;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

h1, h2 {
    margin: 0.5rem 0;
}

main {
    padding: 2rem;
}

footer {
  background: #24292f;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
/* Banner */
.banner {
  width: 100%;
  background: #1e5bff; /* blue */
  color: #ffffff;
  text-align: center;
  padding: 16px 12px;
  font-size: 18px;
}
img {
  border: 1px solid #000 !important;
  box-sizing: border-box;
}
